.pika-single {
  width: 320px;
  width: 20rem;
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-top: 1px solid #E0E0E0;
  border-top: 0.1rem solid #E0E0E0;
  padding-top: 16px;
  padding-top: 1rem;
}

@media (max-width: 700px) {
  .pika-single {
    width: 100%;
  }
}

.pika-single button {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pika-title {
  overflow: hidden;
  text-align: center;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.pika-label {
  display: inline;
  /*width: 50%;*/
  text-align: center;
}

.pika-label:first-of-type {
  margin-right: 8px;
  margin-right: 0.5rem;
}

.pika-prev {
  float: left;
  content: '<';
}

.pika-next {
  float: right;
}

button.is-disabled {
  cursor: default;
}

button.is-disabled:hover {
  background: none;
}

.pika-prev, .pika-next {
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.pika-prev:hover, .pika-next:hover {
  background: #E0E0E0;
}

.pika-label select {
  display: none;
}

.pika-table {
  width: 100%;
}

.pika-table td {
  width: 32px;
  width: 2rem;
  height: 48px;
  height: 3rem;
  text-align: center;
}

.pika-table button {
  border: none;
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  font-size: 11px;
  font-size: 0.7rem;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  cursor: pointer;
  background: none;
  text-align: center;
  background: #E0E0E0;
  border-radius: 100%;
}

.pika-table td.is-disabled button {
  background: none;
  cursor: default;
}

.pika-table td.is-disabled button:hover {
  background: none;
  color: inherit;
}

.pika-table td button:hover {
  background: #5C5C5C;
  color: white;
}

.is-today button {
  border: 1px solid #FFB1B1;
}