.index {
  position: fixed;
  right: 10%;
  bottom: 32px;
  bottom: 2rem;
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.index a {
  width: 48px;
  width: 3rem;
  height: 48px;
  height: 3rem;
  border-radius: 100%;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  font-size: 12px;
  font-size: 0.8rem;
  line-height: 48px;
  line-height: 3rem;
  color: #333;
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  box-shadow: 1px 1px 3px 1px #000000;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.index:hover a {
  background-color: #5C5C5C;
  color: #fff;
}

.diary {
  max-width: 640px;
  max-width: 40rem;
  margin: 48px auto;
  margin: 3rem auto;
}

.diary a {
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.diary a:link {
  color: #333;
}

.diary a:visited {
  color: #333;
}

.diary a:hover {
  color: #5C5C5C;
}

.diary a:active {
  color: #5C5C5C;
}

.diary h1,
.diary h2,
.diary h3,
.diary h4,
.diary h5 {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*text-align: center;*/
  font-weight: normal;
}

.diary h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #E0E0E0;
  border-bottom: 0.1rem solid #E0E0E0;
}

.diary h3 {
  font-size: 25px;
  font-size: 1.6rem;
  margin-top: 48px;
  margin-top: 3rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.diary h4 {
  font-size: 19px;
  font-size: 1.2rem;
  margin-top: 40px;
  margin-top: 2.5rem;
  margin-bottom: 11px;
  margin-bottom: 0.7rem;
}

.diary p {
  line-height: 1.8;
}

.diary li p {
  text-indent: inherit;
  margin: 0;
}

.diary ul {
  padding-left: 24px;
  padding-left: 1.5rem;
}

.diary li {
  margin: 8px 0;
  margin: 0.5rem 0;
  line-height: 1.8;
}

.diary blockquote, .diary pre {
  width: 90%;
  margin: 24px auto 24px auto;
  margin: 1.5rem auto 1.5rem auto;
  padding: 16px 0 16px 24px;
  padding: 1rem 0 1rem 1.5rem;
  background-color: #F9F9F9;
  border-left: 4px solid #5C5C5C;
  border-left: 0.3rem solid #5C5C5C;
}

.diary blockquote {
  font-style: italic;
}

.diary pre {
  line-height: 1.3;
  overflow-x: auto;
}

.diary li > code, .diary p > code {
  background-color: #F9F9F9;
  padding: 1px 4px;
  padding: .1rem .3rem;
  margin-left: 4px;
  margin-left: .3rem;
  margin-right: 4px;
  margin-right: .3rem;
  border-radius: .4rem;
  border: 1px solid #E0E0E0;
  border: 0.1rem solid #E0E0E0;
}

.diary code {
  font-size: 80%;
  line-height: 1.3;
  font-family: Menlo, Monaco, Consolas, "lucida console", "Courier New", monospace;
}

.diary table {
  width: 90%;
  margin: 24px auto 24px auto;
  margin: 1.5rem auto 1.5rem auto;
}

.diary table td, .diary table th {
  padding: 6px;
  padding: 0.4rem;
}

.diary table thead {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left;
  background-color: #F9F9F9;
}

.diary table tbody {
  font-size: 85%;
}

.diary table tbody tr:nth-of-type(even) {
  background-color: #F9F9F9;
}

@media (max-width: 700px) {
  .diary {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .diary ol, .diary ul {
    padding-left: 1.5rem;
  }

  .diary pre {
    padding: 0.8rem;
  }
}