html {
  font-size: 18px;
}

body {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  color: #333;
}

.header {
  overflow: hidden;
}

.header h1 {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 54px;
  font-size: 3rem;
  margin-top: 45px;
  margin-top: 2.5rem;
  margin-bottom: 36px;
  margin-bottom: 2rem;
}

.footer {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 0.8rem;
  width: 450px;
  width: 25rem;
  margin: 54px auto;
  margin: 3rem auto;
  text-align: center;
  color: #666;
}

.footer .author a {
  margin: auto 9px;
  margin: auto 0.5rem;
}

.footer a {
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.footer a:link,
.footer a:visited {
  color: #666;
}

.footer a:hover,
.footer a:active {
  color: #939393;
}

.footer p {
  margin: 0;
}