html {
  font-size: 18px;
}

body {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  color: #333;
}

.header {
  overflow: hidden;
}

.header h1 {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 54px;
  font-size: 3rem;
  margin-top: 45px;
  margin-top: 2.5rem;
  margin-bottom: 36px;
  margin-bottom: 2rem;
}
