@import "variables.css";

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: var(--textFont);
  color: var(--textColor);
  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
}

.header h1 {
  font-family: var(--headFont);
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.footer {
  font-family: var(--headFont);
  font-size: 0.8rem;
  margin: 3rem auto;
  text-align: center;
  color: var(--footerColor);
}

.footer .author a {
  margin: auto 0.5rem;
}

.footer a {
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.footer a:link,
.footer a:visited {
  color: var(--footerColor);
}

.footer a:hover,
.footer a:active {
  color: var(--linkHoverColor);
}

.footer p {
  margin: 0;
}
