@import "variables.css";

.pika-single {
  width: 20rem;
  margin: 0 auto;
  font-family: var(--headFont);
  border-top: var(--lightBorder);
  padding-top: 1rem;
}

@media (max-width: 700px) {
  .pika-single {
    width: 100%;
  }
}

.pika-single button {
  font-family: var(--headFont);
}

.pika-title {
  overflow: hidden;
  text-align: center;
  margin-bottom: 0.5rem;
}

.pika-label {
  display: inline;
  /*width: 50%;*/
  text-align: center;
}

.pika-label:first-of-type {
  margin-right: 0.5rem;
}

.pika-prev {
  float: left;
  content: '<';
}

.pika-next {
  float: right;
}

button.is-disabled {
  cursor: default;
}

button.is-disabled:hover {
  background: none;
}

.pika-prev, .pika-next {
  background: none;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.pika-prev:hover, .pika-next:hover {
  background: var(--lightBackground);
}

.pika-label select {
  display: none;
}

.pika-table {
  width: 100%;
}

.pika-table td {
  width: 2rem;
  height: 3rem;
  text-align: center;
}

.pika-table button {
  border: none;
  width: 2rem;
  height: 2rem;
  font-size: 0.7rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
  background: none;
  text-align: center;
  background: var(--lightBackground);
  border-radius: 100%;
}

.pika-table td.is-disabled button {
  background: none;
  cursor: default;
}

.pika-table td.is-disabled button:hover {
  background: none;
  color: inherit;
}

.pika-table td button:hover {
  background: var(--brightColor);
  color: white;
}

.is-today button {
  border: 1px solid #FFB1B1;
}