:root {
  --textFont: Georgia, Cambria, 'Times New Roman', Times, serif;
  --headFont: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --textColor: #333;
  --footerColor: #666;
  --linkHoverColor: #939393;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--textFont);
  color: var(--textColor);
}

.header {
  overflow: hidden;
}

.header h1 {
  font-family: var(--headFont);
  text-align: center;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.footer {
  font-family: var(--headFont);
  font-size: 0.8rem;
  width: 25rem;
  margin: 3rem auto;
  text-align: center;
  color: var(--footerColor);
}

.footer .author a {
  margin: auto 0.5rem;
}

.footer a {
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

.footer a:link,
.footer a:visited {
  color: var(--footerColor);
}

.footer a:hover,
.footer a:active {
  color: var(--linkHoverColor);
}

.footer p {
  margin: 0;
}