:root {
  --textFont: Georgia, Cambria, 'Times New Roman', Times, serif;
  --headFont: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --textColor: #333;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--textFont);
  color: var(--textColor);
}

.header {
  overflow: hidden;
}

.header h1 {
  font-family: var(--headFont);
  text-align: center;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
