extends ./layout.jade

block header
  header.header
    .index
      a(href="/diary/") Index
    h1!=title

block title
  title!=title

block style
  link(rel='stylesheet', href="/diary/css/tomorrow.css")
  link(rel='stylesheet', href="/diary/css/diary.css")

block content
  .content
    .diary
      !=contents
